
@model LexiconLMS.Models.Course
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Kursdetaljer";
}

<h1>Kurs: @Model.Name</h1>
<hr />
<div>
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>*@
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Description)*@
            Beskrivning
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.StartDate)*@
            Start
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-4">
            @*@Html.DisplayNameFor(model => model.Users)*@
            Slut
        </dt>

        @if ((this.Model.Users != null) && (this.Model.Users.Count > 0))
        {
            @foreach (var x in this.Model.Users) //todo: implementera snabbvy (tex hovring) om tid finnes
            {
                <dd class="col-sm-10"><a class="btn btn-outline-info" asp-action="Details" asp-controller="User" asp-route-id="@x.Id">@x.Email</a></dd>
            }
        }
    </dl>
</div>

<div>
    @if (User.IsInRole("Teacher"))
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Ändra &quot;@Html.DisplayFor(model => model.Name)&quot;</a><br />
        <a class="btn btn-success" asp-action="Create" asp-controller="User" asp-route-Id="@Model.Id">Lägg till elever till @Html.DisplayFor(model => model.Name)</a><br />
    }
    <button class="btn btn-success" onclick="goBack()">Tillbaka...</button>
</div>

<div>
    <hr />
    <h3>Moduler & aktiviteter</h3>
    <ul>
        @if ((this.Model.Modules != null) && (this.Model.Modules.Count > 0))
        {
            @foreach (var x in this.Model.Modules) //todo: implementera snabbvy (tex hovring) om tid finnes
            {
                string t = "/Modules/Details/" + x.Id;
                <li><a href=@t>@x.Name</a></li>
                <ul>
                    @foreach (var thisTask in x.Tasks)
                    {
                        t = "/Tasks/Details/" + thisTask.Id; //todo: asp-action blbala spela roll
                        <li>
                            <a href=@t>@thisTask.Name</a>
                        </li>
                    }
                </ul>
            }
        }
        else
        {
            <li><h4>Inga moduler</h4></li>
        }
    </ul>
    @if (User.IsInRole("Teacher"))
    {
        <p>
            <a class="btn btn-success" asp-action="CourseCreate" asp-controller="Modules" asp-route-id="@Model.Id">Ny modul</a>
        </p>
    }
</div>

@*<div>   obs: denna var redan implementerad men lämnar den här koden av ngt skäl jag inte kommer på
    <hr />
    <h3>Participants</h3>
    <ul>

        
            @{
                List<string> ul = new List<string>();
                foreach(var u in Model.Users)
                {
                    ul.Add(u.FullName);
                }

            }
            @foreach(var tt in ul)
            {
                <li>@tt;</li>
            }
            
    </ul>
</div>*@
