@model LexiconLMS.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <h4>Kurser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate) 
        </dd>
    </dl>
</div>

<div>
    <hr />
    <h3>Modules</h3>
    <ul>
        @if ((this.Model.Modules != null)&&(this.Model.Modules.Count>0))
        {
            @foreach (var x in this.Model.Modules)
            {
                string t = "/Modules/Details/" + x.Id;
                <li><a href=@t>@x.Name</a></li>
            }
        }

        else
        {
            <li><h1>no modules</h1></li>
        }
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Ändra</a> |
    <a asp-action="Index">Tillbaka till kurser</a>
</div>
