@model IEnumerable<LexiconLMS.Models.Course>
@using Microsoft.AspNetCore.Identity
@using System.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Kurser";
}

<h1>Kursöversikt</h1>

<form asp-action="Filter">
    <div class="input-group m-3">
        <input type="text" name="Name" class="form-control" placeholder="Fri sökning..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Sök</i></button>
        </div>
    </div>
</form>

<p>
    <a class="nav-link text-dark" asp-action="Create">Ny kurs</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Namn
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@
                Beskrivning
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.StartDate)*@
                Start
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Teacher"))
                    {
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Ändra</a>
                        <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                    }
                    else
                    {
                        <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
