@model LexiconLMS.Models.ViewModel.ModuleDetailViewModel

@{
    ViewData["Title"] = "Detaljer";
}

<h4>Kurs: @Model.Course.Name</h4>
<h4>Start: @Model.Course.StartDate</h4>
<h1>Modul: @Model.Name</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Description)*@
            Beskrivning
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.StartDate)*@
            Startdatum
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.EndDate)*@
            Slutdatum
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Tasks)*@
            Aktiviteter
        </dt>
        <dd class="col-sm-10">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Aktivitet</th>
                    <th scope="col">Start</th>
                    <th scope="col">Slut</th>
                </tr>
                @foreach (var task in Model.Tasks)
                {
                <tr>
                    <td><a class="btn btn-info" asp-action="Details" asp-controller="Tasks" asp-route-id="@task.Id">@task.Name</a></td>
                    <td><span class="btn">@task.StartDate</span></td>
                    <td><span class="btn">@task.EndDate</span></td>
                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Ändra</a>
    <a class="btn btn-warning" asp-action="Details" asp-controller="Courses" asp-route-id="@Model.Course.Id">Tillbaka till Kurs: @Model.Course.Name</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Radera</a>
</div>

<div>
    <hr />
    @*<h3>Aktiviteter</h3>
    <ul>
        @if ((this.Model.Tasks != null) && (this.Model.Tasks.Count > 0))
        {
            @foreach (var x in this.Model.Tasks) //todo: implementera snabbvy (tex hovring) om tid finnes
            {
                string t = "/Tasks/Details/" + x.Id;
                <li><a href=@t>@x.Name</a></li>
            }
        }
        else
        {
            <li><h4>Inga Aktiviteter</h4></li>
        }
    </ul>*@
    <p>
        @if (User.IsInRole("Teacher"))
        {
            <a class="btn btn-success" asp-action="ModuleCreate" asp-controller="Tasks" asp-route-id="@Model.Id">Ny aktivitet</a>
        }
    </p>
</div>