@model LexiconLMS.Models.ViewModel.ModuleDetailViewModel

@{
    ViewData["Title"] = "Detaljer";
}

<h4>Kurs: @Model.Course.Name</h4>
<h1>Modul: @Model.Name</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tasks)
        </dt>
        <dd class="col-sm-10">
            @foreach (var task in Model.Tasks)
            {
                @Html.DisplayFor(task => task.Name)
                <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Ändra</a>
    <a class="btn btn-warning" asp-action="Details" asp-controller="Courses" asp-route-id="@Model.Course.Id">Tillbaka till Kurs: @Model.Course.Name</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Radera</a>
</div>
