@model LexiconLMS.Models.ViewModel.TaskEditViewModel
@inject LexiconLMS.Services.IModuleDropdown moduledropdown
@inject LexiconLMS.Services.ITaskTypeDropdown taskdropdown

@{
    ViewData["Title"] = "Ändra";
}

<h1>Ändra i @Model.Name</h1>
<h4>Start--End date:</h4>
<h5>@ViewBag.moduleStartDate--@ViewBag.moduleEndDate</h5>

@*<h4>Task</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuleId" class="control-label"></label>
                <select asp-for="ModuleId" asp-items="@moduledropdown.GetSelectList()" class="form-control">
                    @*<option selected="selected" value="">Modul</option>*@
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TaskTypeId" class="control-label"></label>
                <select asp-for="TaskTypeId" asp-items="@taskdropdown.GetSelectList()" class="form-control">
                    @*<option selected="selected" value="">Aktivitet</option>*@
                </select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
    <a class="btn btn-info" asp-action="Details" asp-controller="Tasks" asp-route-id="@Model.Id">Tillbaka till Aktivitet: @Model.Name</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
