@model IEnumerable<LexiconLMS.Models.User>
@inject UserManager<User> _userManager
@using System.Linq;
@{
    ViewData["Title"] = "Användare";
    
}

<h1>Användare</h1>
<form asp-action="Filter">
    <div class="input-group m-3">    
        <input type="text" name="searchInput" class="form-control" placeholder="Sök..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Sök</i></button>
        </div>
    </div>
   
</form>
<p>
    <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Register">Ny Lärare</a>
</p>
<br />

<div class="table-responsive">
    <table class="table table-sm table-dark table-bordered table-condensed table-striped table-hover sortable">
        <thead>
            <tr class="bg-success">
                <th data-defaultsign="AZ">
                    Roll
                </th>
                <th data-defaultsign="AZ">
                    @*@Html.DisplayNameFor(model => model.FullName)*@
                    Namn
                </th>
                <th data-firstsort="desc">
                    @*@Html.DisplayNameFor(model => model.Email)*@
                    E-post
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Course.Name)*@
                    Kurs
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (await _userManager.IsInRoleAsync(item, "Student"))
                        {
                            <p>Student</p>
                        }
                        else
                        {
                            <p>Lärare</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Ändra</a>
                        <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                        @if (item.CourseId != null)
                        {
                            <a class="btn btn-dark" asp-action="MyPage" asp-route-id="@item.Id">Användarsida</a>
                        }
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>