@model LexiconLMS.Models.ViewModel.UserViewModel
@{
    ViewData["Title"] = "Användarsida";
}

<h1>MyPage</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Course.Name)*@
                            Kurs
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a class="nav-link text-dark" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Course.Id"> @Html.DisplayFor(model => model.Course.Name)</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-group" id="accordionU">
                <div class="panel panel-default">
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="panel-heading">
                                        <h6 class="panel-title">

                                            <a class="nav-link text-left alert-dark" data-toggle="collapse" data-parent="#accordionU" href="#Users">
                                                Användare <span class="badge">(@Model.Course.Users.Count())</span>
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="Users" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            @foreach (var item in Model.Course.Users)
                                            {
                                                @item.FullName <span class="badge">(@item.Email)</span><br />
                                            }
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm">

            <table class="table table-sm  table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Course.Modules)*@
                            Moduler
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Course.Modules)
                    {

                        <tr>
                            <td>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">
                                                <a class="alert-link text-left alert-dark" asp-controller="Modules" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>

                                                <a class="nav-link text-left alert-dark" data-toggle="collapse" data-parent="#accordion" href="#@item.Name">
                                                    Tasks <span class="badge">(@item.Tasks.Count())</span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="@item.Name" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                @foreach (var task in item.Tasks)
                                                {
                                                    <a class="page-link alert-dark" asp-controller="Tasks" asp-action="Details" asp-route-id="@item.Id">@task.Name</a>

                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
</div>